# Віртуальне середовище (Python environment)
.venv/

# Кеш-файли Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Файл, який створює macOS в кожній папці
.DS_Store

# Тимчасові/генеровані файли гри
output/

# Усі бази даних .db крім головної
*.db